body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #fdfd96;

}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid rgb(255, 0, 0);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: #ffff56;
  color: #16264C;
  border-radius: 0;
  border-bottom: 10px solid rgb(83, 53, 42);
}

.jumbotron h1{
  font-family: 'Permanent Marker', cursive;
}

.jumbotron #subtitle{
  font-style: italic;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid rgb(0, 200, 200);;
}

.hour {
  color: #16264C;
  background-color: #fdfd96;
  border-top: 1px dashed #000000;
  padding-top: 25px
}

.past {
  background-color: #fdfd96;
  color: #16264C;
  text-decoration: line-through;
}

.present {
  background-color: #ff7eb9;
  color: white;
}

.future {
  background-color: #7afcff;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn:hover {
  background-color: #ffffff;
  color: #06AED5;
  border-color: #06AED5;
  transition: all .3s ease-in-out;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
